

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a
{
    cursor:pointer;
    outline:0
}

li a
{
    text-decoration:none;
    color:inherit
}

body
{
    font:14px Arial;
    line-height:1.2;
    width:100%;
    height:100%;
    color:#252424;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased
}

a
{
    text-decoration:none;
    color:inherit
}

img
{
    max-width:100%;
    user-select:none
}

strong {
    font-weight: 500;
}

*
{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.xs,.md
{
    display:none;
}

.clearfix:after
{
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
    content:' '
}

.inner,.wrapper
{
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease
}

.container:after
{
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
    content:' '
}

.checkbox
{
    position:relative
}


.wrapper
{
    position:relative;
    z-index:501;
    width:100%;
    min-width:1200px;
    height:auto!important;
    height:100%;
    min-height:100%;
    margin:0 auto
}

.container
{
    width:1200px;
    height: 100%;
    padding: 0 15px;
    margin:auto
}
